@import-normalize;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow: hidden; 
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
}
